asgiref==3.11.1
certifi==2026.5.20
charset-normalizer==3.4.7
Django==5.2.6
gunicorn==26.0.0
idna==3.16
mercadopago==3.1.1
packaging==26.2
pillow==12.1.1
requests==2.34.2
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.7.0
openpyxl==3.1.5
reportlab==4.4.3
dj-database-url==2.2.0
psycopg2-binary==2.9.10
whitenoise==6.9.0