body {
    margin: 0;
    font-family: Arial;
    background: #f4f4f4;
}

.sidebar {
    width: 240px;
    height: 100vh;
    background: #7c2d4e;
    color: white;
    position: fixed;
}

.logo {
    padding: 20px;
    font-size: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 15px 20px;
    cursor: pointer;
}

.sidebar li:hover {
    background: #66223e;
}

.active {
    background: #66223e;
}

.main {
    margin-left: 240px;
    padding: 30px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.positive {
    color: green;
}

.charts {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.chart-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.table-section {
    margin-top: 30px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #eee;
}

.complete {
    background: #c7f2d9;
    padding: 5px 10px;
    border-radius: 10px;
    color: #0a7a3f;
}

.pending {
    background: #f7e6b5;
    padding: 5px 10px;
    border-radius: 10px;
    color: #8a6d00;
}


