{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8">
<title>Personaliza tu pastel</title>

<link rel="stylesheet" href="{% static 'css/persona.css' %}">
<link rel="stylesheet" href="{% static 'css/estilos.css' %}">


</head>

<body>

<div class="layout">

<!-- PANEL OPCIONES -->

<div class="panel">

<h3>Pisos</h3>

<button onclick="agregarPiso()">Agregar piso</button>
<button onclick="quitarPiso()">Quitar piso</button>

<h3>Decoración</h3>

<button onclick="decorar('flores')">Flores</button>
<button onclick="decorar('chocolate')">Chocolate</button>

</div>


<!-- PASTEL -->

<div class="zona-pastel">

<div id="pastel"></div>

</div>


<!-- RESUMEN -->

<div class="resumen">

<h3>Resumen</h3>

<p>Precio: $<span id="precio">0</span></p>

<p>Tiempo: <span id="tiempo">0</span> horas</p>

<button class="comprar">Comprar</button>

</div>

</div>

<script src="{% static 'js/persona.js' %}"></script>

</body>
</html>