{% extends "layout_header.html" %}
{% load static %}
{% block content %}
	<section class="clientes">
		<div class="titulo_area">
			<i class="fa-solid fa-people-line"></i>
			<div class="texto_area">
				<strong>Mis clientes</strong>
				<p>Gestiona tu cartera de clientes</p>
			</div>
		</div>
		<div class="display">
			{% for c in clientes %}
				<article class="usuario_cliente">
					<div class="fondo"></div>

					<center>
						<div class="perfil_usuario">
							<div class="foto_perfil">
								<p>{{ c.nombre|first }}</p>
							</div>
							<p>{{ c.nombre }} {{ c.apellido }}</p>
						</div>
					</center>

					<div class="detalles_contacto">
						<p><i class="fa-regular fa-envelope"></i> {{ c.correo }}</p>
						<p><i class="fa-solid fa-phone"></i> {{ c.numero }}</p>
					</div>

					<div class="compras">
						<div class="cifra">
							<center>
								<strong>{{ c.total_compras }}</strong>
								<p>compras</p>
							</center>
						</div>
						<div class="gastado">
							<strong>${{ c.total_gastado }}</strong>
							<p>Total gastado</p>
						</div>
					</div>
				</article>
			{% empty %}
				<p>No tienes clientes aún </p>
			{% endfor %}
		</div>
	</section><br>
	<section>
		<strong>Otros clientes</strong>
		<div class="lista_clientes">
			{% for c in clientes %}
				<div class="card_cliente">
					<div class="venta-info">
						<div class="icono_perfil">
							<p>{{ s.cliente.nombre|first }}</p>
						</div>
						<div class="tex">
							<strong>{{ c.nombre }} {{ c.apellido }}</strong>
							<div class="contacto">
								<p><i class="fa-regular fa-envelope"></i> {{ c.correo }}</p>
								<p><i class="fa-solid fa-phone"></i> {{ c.numero }}</p>
							</div>
						</div>
					</div>
					<div class="cifras">
						<div class="compras">
							<p><i class="fa-solid fa-bag-shopping"></i><strong>{{ c.total_compras }}</strong></p>
							<p>compras</p>
						</div>
						<div class="gastado">
							<strong>${{ c.total_gastado }}</strong>
							<p>Total gastado</p>
						</div>
					</div>
				</div>
			{% empty %}
				<p>No tienes clientes aún </p>
			{% endfor %}
		</div>
	</section>
{% endblock %}