{% extends "layout_header.html" %}
{% load static %}
{% block content %}
	<main>
		<section class="carousel">
			<div class="list">
				<article class="item">
					<div class="main-content" style="background-color: #9c4d2f;">
						<div class="content">
							<h2>Con todo el amor de mamá</h2>
							<p class="descuento">Con un 45%</p>
							<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
							<a href="#">Compra ya</a>
						</div>
					</div>
					<figure class="image">
						<img src="{% static 'imagenes/tres_leches.jpg' %}">
						<figcaption>Torta tres leches</figcaption>
					</figure>
				</article>
				<article class="item">
					<div class="main-content" style="background-color: #f5bfaf;">
						<div class="content">
							<h2>Para un sanvalentin amoroso</h2>
							<p class="descuento">Con un 45%</p>
							<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
							<a href="#">Compra ya</a>
						</div>
					</div>
					<figure class="image">
						<img src="{% static 'imagenes/combo3.jpg' %}">
						<figcaption>torta de fresa</figcaption>
					</figure>
				</article>
				<article class="item">
					<div class="main-content" style="background-color: #dedfe1;">
						<div class="content">
							<h2>Para una feliz semana santa</h2>
							<p class="descuento">Con un 55%</p>
							<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
							<a href="#">Compra ya</a>
						</div>
					</div>
					<figure class="image">
						<img src="{% static 'imagenes/pistacho.jpg' %}">
						<figcaption>torta de pistacho</figcaption>
					</figure>
				</article>
				<article class="item">
					<div class="main-content" style="background-color: #853953;">
						<div class="content">
							<h2>Para un feliz cumpleaños</h2>
							<p class="descuento">Con un 55%</p>
							<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
							<a href="#">Compra ya</a>
						</div>
					</div>
					<figure class="image">
						<img src="{% static 'imagenes/combo.jpg' %}">
						<figcaption>Combo de pasteles</figcaption>
					</figure>
				</article>
			</div>
		</section>
	</main>
{% endblock %}